.t{
    color: #415167; font-size: 20px; text-align: center;
}
.e{
    color: #415167; font-size: 30px; text-align: center;
}
.h{
    color: #C7A17A; font-size: 20px; margin-left: 42px; 
}
.eq{
    text-decoration: line-through; font-size: 14px;  margin-left: 96px; color: #415167;
}
.w{
    width: 360px; height: 562px; background-color: white;
}
.r{
    background-color: #CDCDCD80;
}
.q{
    background-color: #F9FBFF; display: flex; gap: 30px; justify-content: center;
}
.max{
    font-size: 24px;  text-align: center; 
}
.tort{
   background-color: #C7A17A; width: 134px; height: 32px; border-radius: 19px; font-size: 16px; color: #F9FBFF;  text-align: center;
}
.uy{
 color: #415167; font-size: 16px; text-align: center;
}
.rt{
    color: #151D28; font-size: 16px; text-align: center;
}

   